.add-button {
    background-color: #28a745;
    margin-bottom: 10px;
    color: white;
}
.input-SongList {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
  }
.box{
    color: #fff;
    padding-top: 15px;
    border-radius: 5px;
    
}

.Music_Search{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;

}

.main {
    background-color: #333333;
    min-height: 100vh;
    max-height: auto;
}
.box-field {
    margin: 10px;
  }

  .container {
   
    flex-grow: 1;
    background-color:  #4a4a4a;
    
  }

  